@import '../assets/colors.scss';

.section {
  text-align: center;
  padding: 0.5rem;

  h1,
  h2 {
    position: relative;
    margin-bottom: 1rem;
  }

  h1::after,
  h2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: $c-primary;
    background-image: linear-gradient(to right, $c-primary, $c-secondary);
    left: 0;
    bottom: 3px;
  }

  .container {
    background-color: $bg-color;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
  }
}

@media (min-width: 950px) {
}
