---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Douglas Maia">
	<main>
		<h1>Main content</h1>
	</main>
</Layout>

<style lang="scss">
@import '../assets/colors.scss';

main {
	padding: 1rem;
}
</style>
