@import '../../assets/colors.scss';

.nav {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  top: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  background-image: linear-gradient(
    to right,
    $bg-color,
    transparent,
    $bg-color
  );
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
  z-index: 999;

  ul {
    display: inline-flex;
    gap: 1rem;
    list-style: none;
    font-size: 1.2rem;

    li a {
      color: $c-text;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: $c-secondary;
      }
    }
  }
}

@media screen and (min-width: 950px) {
  .nav {
    width: calc(100% - 31rem);
    left: 31rem;

    ul {
      font-size: 1.5rem;
    }
  }
}
