---
---

<div class="stick">
  <aside class="aside">
    <div class="img-container">
      <img src="https://github.com/DouglasMai4.png" alt="Douglas Maia" />
      <div class="text-container">
        <h1>Douglas Maia</h1>
        <h2>Desenvolvedor WEB - Full Stack</h2>
      </div>
    </div>

    <hr />

    <h3>Competencias</h3>

    <h4>Hard Skills</h4>
    <ul>
      <li>HTML, CSS, JavaScript - Avançado</li>
      <li>ReactJS, VueJS, NuxtJS, SvelteKit - Intermediário</li>
      <li>NodeJS, Deno - Intermediário</li>
      <li>Express - Intermediário</li>
      <li>Python - Intermediário</li>
      <li>Rust, C/C++ - Básico</li>
      <li>Metodologias Ágeis - Kanban, Scrum</li>
    </ul>

    <h4>Soft Skills</h4>
    <ul>
      <li>Comunicação</li>
      <li>Colaboração</li>
      <li>Criatividade</li>
      <li>Proatividade</li>
      <li>Foco</li>
    </ul>
  </aside>
</div>

<style lang="scss">
@import '../assets/colors.scss';

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 0 0 0.3rem 0.3rem;
  background-color: $bg-color-s;

  img {
    width: 250px;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
  }

  h2 {
    font-size: 1em;
  }

  hr {
    width: 100%;
    height: 3px;
    border: none;
    margin-block: 1rem;
    border-radius: 3px;
    background-color: var(--c-primary);
    background-image: linear-gradient(
      to right,
      var(--c-primary),
      var(--c-secondary)
    );
  }

  ul {
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 950px) {
  .aside {
    position: sticky;
    top: 0.5rem;
    height: 98dvh;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      flex-wrap: wrap;
      list-style: none;
      text-align: center;

      li:not(:last-child) {
        border-bottom: 1px solid var(--c-primary);
      }
    }

    .img-container {
      display: inline-flex;
      background-color: $bg-color;
      border-radius: 1rem;
      text-align: center;

      img {
        width: 10rem;
        height: 10rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .text-container {
        font-size: 0.9rem;
        margin: auto;

        h1 {
          font-size: 1.2rem;
        }
      }
    }
  }
}
</style>
