---
---

<footer>
  <p>
    Este site foi criado utilizando
    <a href="https://astro.build/" target="_blank">AstroJS</a>,
    <a href="https://sass-lang.com/">Sass</a> e <a href="https://vitejs.dev/">Vite</a>
  </p>
  <p>
    Todos os direitos reservados &#169; 2024
  </p>
</footer>

<style lang="scss">
@import '../assets/colors.scss';

footer {
  background-color: $bg-color-s;

  a {
    color: $c-secondary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
</style>
