---
---

<div class="hero-container">
    <h1>Olá, me chamo Douglas Maia</h1>
    <h2>Sou um: <span>Desenvolvedor WEB.</span></h2>
</div>

<style lang="scss">
@import '../assets/colors.scss';

.hero-container {
    background: linear-gradient(to right, $c-primary, $c-secondary);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1, h2 {
        // text-shadow: 0 0 15px rgb(0 0 0 / 50%);
        color: $bg-color-s;
    }
}
</style>