---
import { Icon } from 'astro-icon'
---

<nav class="nav">
  <ul>
    <li>
      <a href='https://github.com/DouglasMai4' target='_blank' title="GitHub">
        <Icon class="icon" pack="ph" name="github-logo-fill" />
      </a>
    </li>
    <li>
      <a href='https://linkedin.com/in/DouglasMai4' target='_blank' title="LinkedIn">
        <Icon class="icon" pack="ph" name="linkedin-logo-fill" />
      </a>
    </li>
    <li>
      <a href='https://instagram.com/douglasmai4_sun' target='_blank' title="Instagram">
        <Icon class="icon" pack="ph" name="instagram-logo-fill" />
      </a>
    </li>
    <li>
      <a href='https://t.me/DouglasMai4' target='_blank' title="Telegram">
        <Icon class="icon" pack="ph" name="telegram-logo-fill" />
      </a>
    </li>
    <li>
      <a href='mailto:douglasmai4@protonmail.com' target='_blank' title="Email">
        <Icon class="icon" pack="ph" name="envelope-simple-fill" />
      </a>
    </li>
  </ul>
</nav>

<style lang="scss">
@import '../assets/colors.scss';

.nav {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  top: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  background-image: linear-gradient(
    to right,
    $bg-color,
    transparent,
    $bg-color
  );
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
  z-index: 999;

  ul {
    display: inline-flex;
    gap: 1rem;
    list-style: none;
    font-size: 0.8rem;

    li a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $c-text;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: $c-secondary;
      }
    }

    .icon {
      width: 1.5rem;
    }
  }
}

@media screen and (min-width: 950px) {
  .nav {
    width: calc(100% - 20.5rem);
    margin-inline: 0.3rem;
    left: 20.5rem;

    ul {
      font-size: 1rem;
    }
  }
}
</style>
