---
import { Icon } from 'astro-icon';
import Input from '../components/form/Input.astro';
---

<header>
  <form>
    <Input
      id="search-input"
      type="text"
      name="search"
    >

    <button type="submit">Ola</button>
  </form>
</header>

<style lang="scss">
@import '../assets/colors.scss';

header {
  background-color: $bg-color-s;
  padding: 0.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 0 15px rgb(0 0 0 / 50%);
}
</style>
