@import '../../assets/colors.scss';

.footer {
  background-color: $bg-color-s;
  text-align: center;

  a {
    position: relative;
    text-decoration: none;
    color: $c-secondary;

    &::after {
      content: '';

      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $c-primary;
      left: 0;
      bottom: 3px;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 300ms ease;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
}
