@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #252422;
  --bg-color-s: #41413A;
  --c-primary: #6e44ff;
  --c-secondary: #66baa8;
  --c-text: #DDDDDD;
  --c-error: #F15A59;

  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
  color: var(--c-text)
}

