--- 
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <Hero />
    <Navbar />

    <div class="flex"
      <main>
		    <slot />
      </main>
    </div>
	</body>
</html>

<style is:global lang="scss">
@import '../assets/colors.scss';
@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Poppins, sans-serif;
}

::selection {
  background-color: $c-secondary;
  color: $bg-color;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $bg-color;
  color: $c-text;
}
</style>
