---
import Hero from '../components/Hero.astro';
import Sidebar from '../components/Sidebar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Douglas Maia - Técnico em T.I/Desenvolvedor Full-Stack" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Hero />
		<div class="container">
			<div class="sidebar-container">
				<Sidebar />
			</div>
			<slot />
		</div>
	</body>
</html>
<style is:global lang="scss">
	@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';
	@import '../assets/colors.scss';

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	:root {
		font-family: Poppins, sans-serif;
	}

	body {
		background-color: $bg-color;
		color: $c-text;

		hr {
			width: 100%;
			height: 3px;
			border: none;
			background-color: $c-primary;
			border-radius: 3px;

			&.vertical {
				width: 3px;
				height: inherit;
				transform: rotate(180deg);
			}
		}

		a {
			color: $c-text;
			transition: color 300ms ease;

			&:hover {
				color: $c-text-highliht;
			}
		}

		.container {
			display: flex;

			.sidebar-container {
				min-height: 100dvh;
			}
		}
	}
</style>
