.nav {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  top: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid var(--c-primary);
  backdrop-filter: blur(8px);
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
  z-index: 999;
}

.nav ul {
  display: inline-flex;
  gap: 1rem;
  list-style: none;
  font-size: 1.2rem;
}

.nav ul li a {
  color: var(--c-text);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav ul li a:hover {
  color: var(--c-secondary);
}

@media screen and (min-width: 950px) {
  .nav ul {
    font-size: 1.5rem;
  }
}

